@model GPMS.Models.Employee

<div style="max-width:600px; margin:auto; padding:25px;">

    <h2 style="margin-bottom:20px;">Edit Employee</h2>

    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="EmployeeId" />

        <div style="margin-bottom:15px;">
            <label>Name</label>
            <input asp-for="EmployeeName" class="form-control" />
        </div>

        <div style="margin-bottom:15px;">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div style="margin-bottom:15px;">
            <label>Username</label>
            <input asp-for="Username" class="form-control" />
        </div>

        <div style="margin-bottom:15px;">
            <label>Designation</label>

            <select asp-for="DesignationId"
                    asp-items="ViewBag.DesignationList"
                    class="form-control">

                <option value="">-- Select Designation --</option>

            </select>
        </div>
        
        

      

        <button type="submit"
                style="background:#3b82f6; color:white; padding:10px 20px;
            border:none; border-radius:6px;">
            Update
        </button>

        <a asp-action="Index"
               style="margin-left:10px; text-decoration:none; color:#6b7280;">
            Cancel
        </a>

    </form>
</div>