@model GPMS.Models.Designation

<div class="container mt-4">

    <h3>Designation Details</h3>

    <div class="card p-3">
        <h4>@Model.DesignationName</h4>
        <p>@Model.DesignationDescription</p>
    </div>

    <br />

    <a asp-action="Index" class="btn btn-secondary">Back</a>

</div>
